@import '~s/colors';
@import '~s/fonts';

.complete{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top:-100%;
    width: inherit;
    height: 100%;
    z-index: 100;
    background-color: $btn-bg-moodle;
    transition: 1s ease-in-out top;

    &__text{
        width: 80%;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 2.4rem;
        font-family: $btn-font-moodle;
        font-weight: 600;
        color: $btn-text-color;
    }
}

.show{
    top:0;
}