.btn{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    color: #FFF;
    border: none;
}

.btn-trello{
    background-color: #68E45D;
    border-radius: 7px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
}

.btn-moodle{
    width: 190px;
    background-color: #0C7277;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;
    float: right;
}