// -----TEXT-----
$form-label-color: #555555;
$btn-text-color:#FFF;
// -----TEXT-----

// -----INPUT-----
$input-placeholder-moodle: #c4c4c4;
$input-placeholder-trello: #96CEED;
$input-text-moodle: #555555;
$input-text-trello: #2D9CDB;
// -----INPUT-----


// -----COLORS-----
$btn-bg-moodle: #0C7277;
$btn-bg-trello: #68E45D;
$dashboard-primary: #FDF5BF;

// -----COLORS-----

// -----BACKGROUND-----

$page-background-trello:#2D9CDB;

// -----BACKGROUND-----


// -----PALETTE-----
$color-danger: #bd2130;

// -----PALETTE-----


