@import '~s/colors';
@import '~s/fonts';

.btn{
    margin-top: 30px;
    width: 300px;
    height: 40px;
    color: $btn-text-color;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);

    &:hover{
        box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.75);
    }

    &:active{
        box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
    }
}

.btn-trello{
    background-color: $btn-bg-trello;
    border-radius: 7px;
    font-family: $btn-font-trello;
    font-size: 18px;
    font-weight: 600;
}

.btn-moodle{
    width: 190px;
    background-color: $btn-bg-moodle;
    font-family: $btn-font-moodle;
    font-size: 1rem;
    font-weight: 500;
    float: right;
}